<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beach Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
  <h1>Beach Blog</h1>
</header>

 <nav>
    {{!-- {{#if loggedIn}} --}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{!-- {{else}} --}}
    <a href="/login"><button id="login">Login</button></a>
    {{!-- {{/if}} --}}
    <a href="/new"><button id="add-post">Add Post</button></a>
    <a href="/view-posts"><button id="view-post">View Posts</button></a>
  </nav>
<body>
<main>
{{{ body }}}
</main>

</body>
</html>