
    <form method="POST" action="/profile-upload-single" enctype="multipart/form-data">
        <div>
            <label>Upload beach blog photo</label>
            <input type="file" name="profile-file" required/>
        </div>
        <div>
            <input type="submit" value="Upload" />
        </div>
<!-- this needs to be a holding photo or an error appears -->
        <img src="/images/04-beach-chairs.jpg">
    </form>

    <hr>
</body>
</html>